<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/Modal.css">
  <title>心理咨询云桥系统</title>
</head>

<body>

  <div id="login-container" class="modal-container">
    <div class="modal-content">
      <h2 class="modal-title">系统登录</h2>
      <form id="loginForm">
        <div class="input-group">
          <input type="text" id="username" class="modal-input" placeholder="账号" required>
        </div>
        <div class="input-group">
          <input type="password" id="password" class="modal-input" placeholder="密码" required>
        </div>
        
        <div class="button-group">
          <button type="submit" class="modal-btn primary">登录</button>
          <button type="reset" class="modal-btn secondary">重置</button>
        </div>
      </form>
    </div>
  </div>

  <div id="loading-overlay" style="display: none;">
    <div class="loading-spinner"></div>
    <p>正在验证登录信息...</p>
  </div>

  <!-- 错误提示-->
  <div id="error-modal" class="modal-container" style="display: none;">
    <div class="modal-content">
      <h3 class="modal-title">登录错误</h3>
      <div id="error-message" class="error-content"></div>
      <button class="modal-btn" onclick="closeError()">确定</button>
    </div>
  </div>

  <script src="../static/js/login.js"></script>
</body>

</html>